# Streamlit app
streamlit

# Core dependencies
torchaudio==2.7.1

# Speech & audio processing
speechbrain
librosa
soundfile
ffmpeg-python
pydub

# Hugging Face dependencies
transformers
huggingface-hub

# Scientific & utility libs
numpy
scipy
